:root {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

#hero {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: black;
    
}

#hero p {
    font-size: 46pt;
    color: goldenrod;
    text-align: center;
    
    margin: auto;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;


}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #4dbbff, 0 0 20px #4dbbff, 0 0 25px #4dbbff, 0 0 30px #4dbbff, 0 0 35px #4dbbff;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #4dbbff, 0 0 40px #4dbbff, 0 0 25px #4dbbff, 0 0 30px #4dbbff, 0 0 35px #4dbbff, 0 0 40px #4dbbff;
    }
  }

 
